/*|============================
  | Додавання & Віднімання
  |============================
*/
.box {
    width: 600px + 30px;
    width: 600px - 30px;
  }
  /*|============================
    | Множення & Ділення
    |============================
  */
  $vaule: 600px;
  .box {
    width: 600px * 5;
    width: 600px * 2 + 50px;
    width: 2*(600px + 50px);
  
    width: $vaule / 5;
    width: (600px / 2);
    width: 600px / 3 + 100px;
    @debug (600px/5px);
    @debug (120px+10px)
  }
  /*|============================
    | Інтерполяція
    |============================
  */
  $name: 'box';
  $margin: 100px;
  .box {
    width: $margin * 2;
  }
  .box {
    width: calc($margin * 2);
    width: calc(#{$margin} * 2);
  }
  /*|============================
    | Examples
    |============================
  */
  #{$name}{
margin: $margin;
  }